<div class="final-container" style="text-align: center;">
  
  <p>&nbsp;<p>

  <div class="title-text" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 4em; text-align: center; color: grey"> 
      R E S E R V
  </div>

  <div class="heading2" style="text-align: center;">
      Awesome job!  Your Reserv is set up.
  </div>
  
  <p>&nbsp;<p>

  <div class="clearfix"></div>

  <div>
      <img src="/assets/logo-orange-circle-212-shadow@2x.png.png" height="250px" />
  </div>

  <p>&nbsp;<p>

  <div style="text-align: center">
      
      <a href="http://www.myreserv.com">
          <button class="btn btn-success" style="" >Visit your dashboard on MyReserv.com</button>
      </a>
  </div>
</div>
